---

---

<section id="about">
    <h1>About me</h1>
    <div id="about--container">
        <div id="text-content">
            <p>My name is <strong>Diego Sánchez</strong></p>
            <p>
                I am currently studying <strong>Software Engineering</strong> at
                <strong>Rey Juan Carlos University</strong> in Madrid.
            </p>
            <p>
                I consider myself a <strong>responsible</strong> and <strong
                    >committed</strong
                > person in my work.
            </p>
            <p>
                In addition to my degree, I enjoy <strong>self-learning</strong>
                and <strong>experimenting</strong> with new technologies to expand
                my knowledge.
            </p>
        </div>
        <div id="img--div">
            <img
                id="profile--img"
                src="/assets/Me.jpeg"
                alt="CuB1 profile picture"
            />
        </div>
    </div>
    <div id="links-container">
        <a
            class="link"
            href="https://github.com/CuB1z"
            target="_blank"
            style="background-color: var(--GitHub-bg-color)"
        >
            <img src="/icons/github.svg" alt="Github Logo" />
            <span>Github</span>
        </a>
        <a
            class="link"
            href="https://www.linkedin.com/in/cub1z/"
            target="_blank"
            style="background-color: var(--LinkedIn-bg-color)"
        >
            <img src="/icons/linkedIn.svg" alt="Linkedin Logo" />
            <span>LinkedIn</span>
        </a>
        <a
            class="link"
            href="mailto:cub1zdev@gmail.com"
            target="_blank"
            style="background-color: var(--Email-bg-color)"
        >
            <img src="/icons/email.svg" alt="Email Logo" />
            <span style="color: var(--dark-text-color)">cub1zdev@gmail.com</span>
        </a>
    </div>
</section>

<style>
    #about {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #about p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    #about--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    #profile--img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    strong {
        color: var(--yellow-text-color);
    }

    #links-container {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    #links-container .link img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 10px 4px 10px;
        border-radius: 15px;
        color: var(--dark-text-color);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
    }

    @media (max-width: 500px) {
        #about h1 {
            font-size: 2rem;
        }

        #about p {
            font-size: 18px;
            line-height: 28px;
        }

        #about--container {
            flex-direction: column;
            gap: 3rem;
        }

        #links-container {
            margin-top: 2rem;
        }
    }

    @media (max-width: 800px) {
        #about--container {
            flex-direction: column-reverse;
            gap: 3rem;
        }

        #about--container #text-content {
            width: 90%;
            padding-left: 15px;
        }
    }
</style>
