---
interface Props {
    title: string;
    path: string;
}

const { title, path } = Astro.props;
---

<button data-file-path={path}>Download {title}</button>

<script>
    document.querySelector("button").addEventListener("click", function () {
        const filePath = this.getAttribute("data-file-path")
        const link = document.createElement("a")
        link.href = filePath
        link.download = filePath
        link.click()
    })
</script>

<style>
    button {
        width: 150px;
        padding: 5px 10px;
        color: var(--primary-text-color);
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 20px;
        background-color: var(--terciary-bg-color);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    button:hover, button:active {
        transform: translateY(-5px);
        box-shadow: 0px 0px 15px var(--primary-accent-color);
    }
</style>