---
import getLanguage from "../languages/script";

const language = getLanguage(Astro.currentLocale)
---

<section id="projects">
    <h1>{language.PROJECTS_TITLE}</h1>
    <div id="projects--container">
        <slot />
    </div>
</section>

<style>
    #projects {
        min-height: 100vh;
        width: 100%;
        margin-bottom: 5rem;
    }

    #projects h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #projects--container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
</style>