
<div id="theme-toggler">
    <img id="theme-icon" src="" alt="Icon">
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 4px;
        background-color: #eee;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    div:hover {
        transform: scale(1.05);
    }

    img {
        width: 20px;
        height: 20px;
    }
</style>

<script is:inline>
    function setTheme(theme) {
        localStorage.setItem('theme', theme)
        document.body.classList.toggle('light', theme === 'light')
    }

    function setThemeIcon(theme) {
        const themeIcon = document.getElementById('theme-icon')
        themeIcon.src = theme === 'light' ? '/assets/sun.webp' : '/assets/moon.webp'
    }

    function toggleIcon() {
        const themeIcon = document.getElementById('theme-icon')
        themeIcon.src = themeIcon.src.includes('sun') ? '/assets/moon.webp' : '/assets/sun.webp'
    }

    function getSystemTheme() {
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches
        return prefersDarkScheme ? 'dark' : 'light'
    }

    function getUserDesiredTheme() {
        const userDesiredTheme = localStorage.getItem('theme')

        if (userDesiredTheme) return userDesiredTheme
        else return getSystemTheme()
    }

    function toggleTheme() {
        const theme = getUserDesiredTheme()
        setTheme(theme === 'light' ? 'dark' : 'light')
        toggleIcon()
    }

    // Set theme on load
    const userTheme = getUserDesiredTheme()
    setTheme(userTheme)
    setThemeIcon(userTheme)

    // Add event listener to the theme toggler
    document.getElementById('theme-toggler').addEventListener('click', toggleTheme)
</script>