
<div id="theme-toggler">
    <img id="theme-icon" src="" alt="Icon">
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 4px;
        background-color: #eee;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    div:hover {
        transform: scale(1.05);
    }

    img {
        width: 20px;
        height: 20px;
    }
</style>

<script async >
    let lightMode = false

    function toggleTheme() {
        lightMode = !lightMode
        document.body.classList.toggle('light', lightMode)

        const themeIcon = document.getElementById('theme-icon')
        themeIcon.src = lightMode ? '/assets/sun.png' : '/assets/moon.png'
    }

    function setInitialTheme() {
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches
        lightMode = !prefersDarkScheme
        document.body.classList.toggle('light', lightMode)

        const themeIcon = document.getElementById('theme-icon')
        themeIcon.src = lightMode ? '/assets/sun.png' : '/assets/moon.png'
    }

    setInitialTheme()
    document.getElementById('theme-toggler').addEventListener('click', toggleTheme)
</script>
