
<div id="theme-toggler">
    <img id="theme-icon" src="/assets/moon.png" alt="Icon">
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 4px;
        background-color: #eee;
        border-radius: 50px;
        cursor: pointer;
    }

    img {
        width: 20px;
        height: 20px;
    }
</style>

<script>
    let darkMode = true

    function toggleTheme() {
        darkMode = !darkMode
        document.body.classList.toggle('light', darkMode)

        const themeIcon = document.getElementById('theme-icon') as HTMLImageElement;
        themeIcon.src = darkMode ? '/assets/moon.png' : '/assets/sun.png';
    }

    document.getElementById('theme-toggler').addEventListener('click', toggleTheme)
</script>
