---
interface Props {
    title: string;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Software Engineer Student | CuB1" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    :root {
        color-scheme: dark;

        --primary-bg-color: #13151a;
        --secondary-bg-color: #2f333e;
        --terciary-bg-color: #2b96b3;

        --nav-bg-color: #272a34;

        --primary-accent-color: #495c69;
        --primary-accent-color-hover: #aa6060;

        --primary-text-color: #fff;
        --secondary-text-color: #97bcd5;
        --yellow-text-color: #ffdb57;
        --red-text-color: #d04d4d;
        --green-text-color: #c7ffda;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        color: var(--primary-text-color);
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #13151a;
        background: radial-gradient(
            at center top,
            var(--secondary-bg-color) 0%,
            #000 90%
        );
    }

    main {
        width: 75%;
        max-width: 90%;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 800px) {
        main {
            width: 600px;
        }
    }

    @media (max-width: 600px) {
        main {
            width: 100%;
        }
    }
</style>
